<div class="maxView">
    <div screen-title caption="header"></div>
    <div class="maxContent">
        <div class="container-fluid">
            <form novalidate="novalidate" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputContent">Content:</label>

                    <div class="controls">
                        <textarea id="inputContent" ng-model="message.content" placeholder="Content" rows="2"></textarea>
                    </div>
                </div>
                <br />

                <div class="control-group">
                    <div class="controls">
                        <a ng-click="cancel()" class="btn btn-small btn-default">cancel</a>
                        <a ng-click="createMessage()" class="btn btn-small btn-primary">create new message</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
