<div class="maxView">
    <div screen-title caption="header"></div>
    <div class="maxContent">
        <div class="container-fluid">
            <form novalidate="novalidate" class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                        <a ng-click="cancel()" class="btn btn-small btn-default">cancel</a>
                        <a ng-click="deleteMessage()" class="btn btn-small btn-primary">delete message</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
