<div class="maxView">
    <div screen-title caption="header" loading="loading"></div>

    <div class="maxContent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <table class="table table-striped table-condensed">
                        <thead>
                        <tr>
                            <th style="min-width: 200px;">Content</th>
                            <th style="width: 160px;">Create Date</th>
                            <th style="width: 160px;">Update Date</th>
                            <th style="width: 60px;"></th>
                            <th style="width: 60px;"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="message in topic.messageList">
                            <td>{{ message.content | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>{{ message.createDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>{{ message.updateDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>
                                <a ng-click="updateMessage(message)" class="btn btn-small btn-primary" ng-if="message.user.username==username">edit</a>
                            </td>
                            <td>
                                <a ng-click="deleteMessage(message)" class="btn btn-small btn-danger" ng-if="message.user.username==username">delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <a ng-click="createMessage()" class="btn btn-small btn-primary" ng-if="username">Create message</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>