<div class="maxView">
    <div screen-title caption="header" loading="loading"></div>
    <div class="maxContent">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Join</h1>

                        <form novalidate="novalidate" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="name">Name</label>

                                <div class="controls">
                                    <input id="name" type="text" placeholder="Name" ng-model="user.username" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="password">Password</label>

                                <div class="controls">
                                    <input id="password" type="password" placeholder="Password" ng-model="user.password" />
                                </div>
                            </div>
                            <br />

                            <div class="control-group">
                                <div class="controls">
                                    <a ng-click="cancel()" class="btn btn-small btn-default">Cancel</a>
                                    <a ng-click="register()" class="btn btn-small btn-primary">Finish registration</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>