<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Security<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ><a href="login" class="btn btn-small" ng-disabled="$rootScope.username">Login</a></li>
                        <li ><a href="#register" class="btn btn-small" ng-disabled="$rootScope.username">Register</a></li>
                        <li ><a href="logout" class="btn btn-small" ng-disabled="!$rootScope.username">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>