<div class="maxView">
    <div screen-title caption="header" loading="loading"></div>

    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/resources/jquery.jqGrid-4.6.0/css/ui.jqgrid.css" />

    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/js/i18n/grid.locale-en.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/grid.base.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/grid.common.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/grid.formedit.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/grid.inlinedit.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/grid.custom.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/jquery.fmatter.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/plugins/jquery.searchFilter.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/grid.jqueryui.js"></script>
    <script type="text/javascript" src="/resources/jquery.jqGrid-4.6.0/src/jqModal.js"></script>

    <div class="maxContent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <table id="topics-list" class="table">
                    </table>
                    <div id="topics-pager"></div>
                    <br/>
                    <a ng-click="createTopic()" class="btn btn-small btn-primary" ng-if="username">Create topic</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>